In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [8]:
df = pd.read_csv('/Users/faiz/FYPcoding/FYP/trainingandtestdata/training.csv', encoding='ISO-8859-1',header=None)

In [9]:
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [10]:
#scramble the data
df = df.sample(frac=1).reset_index(drop=True)

df.head(10)

,0,1,2,3,4,5
0,0,1553398526,Sat Apr 18 14:09:42 PDT 2009,NO_QUERY,xCynniex,I saw conor oberst at the glass house on wedne...
1,0,2246979867,Fri Jun 19 18:24:39 PDT 2009,NO_QUERY,Ryan_Tudor,"@Broken_Vibes I thought I got the XS, and now ..."
2,0,1563913826,Mon Apr 20 00:51:02 PDT 2009,NO_QUERY,winnertype,going to the dentist
3,4,1548498300,Fri Apr 17 21:07:12 PDT 2009,NO_QUERY,Iamdemi,@Kelly__Rowland http://twitpic.com/3i3pq - I l...
4,4,1932379867,Tue May 26 21:21:05 PDT 2009,NO_QUERY,Jenny_Araujo,-- g'night tweeties! &lt;3 talk to you all in ...
5,0,2052169210,Fri Jun 05 23:52:20 PDT 2009,NO_QUERY,apeskinny,Don't wanna be up &amp; awake
6,0,2283768149,Mon Jun 22 13:02:41 PDT 2009,NO_QUERY,MzJudged44,I have a migraine and there is still 2 1/2 hou...
7,4,1993477833,Mon Jun 01 10:26:30 PDT 2009,NO_QUERY,raquelfgm,@Dannymcfly DANNY ANSWER MEEE ! BIG BOOBS HERE...
8,4,2062036985,Sat Jun 06 22:10:57 PDT 2009,NO_QUERY,BonesFan021,@EricMillegan Enjoy your day with Micky mouse
9,0,1564090385,Mon Apr 20 01:43:24 PDT 2009,NO_QUERY,JessBarata,Sickness is getting worse! My throat feels lik...

In [12]:
#specify column
df.columns = ['sentiment','id','date','flag','user','text']
df.head(10)

,sentiment,id,date,flag,user,text
0,0,1553398526,Sat Apr 18 14:09:42 PDT 2009,NO_QUERY,xCynniex,I saw conor oberst at the glass house on wedne...
1,0,2246979867,Fri Jun 19 18:24:39 PDT 2009,NO_QUERY,Ryan_Tudor,"@Broken_Vibes I thought I got the XS, and now ..."
2,0,1563913826,Mon Apr 20 00:51:02 PDT 2009,NO_QUERY,winnertype,going to the dentist
3,4,1548498300,Fri Apr 17 21:07:12 PDT 2009,NO_QUERY,Iamdemi,@Kelly__Rowland http://twitpic.com/3i3pq - I l...
4,4,1932379867,Tue May 26 21:21:05 PDT 2009,NO_QUERY,Jenny_Araujo,-- g'night tweeties! &lt;3 talk to you all in ...
5,0,2052169210,Fri Jun 05 23:52:20 PDT 2009,NO_QUERY,apeskinny,Don't wanna be up &amp; awake
6,0,2283768149,Mon Jun 22 13:02:41 PDT 2009,NO_QUERY,MzJudged44,I have a migraine and there is still 2 1/2 hou...
7,4,1993477833,Mon Jun 01 10:26:30 PDT 2009,NO_QUERY,raquelfgm,@Dannymcfly DANNY ANSWER MEEE ! BIG BOOBS HERE...
8,4,2062036985,Sat Jun 06 22:10:57 PDT 2009,NO_QUERY,BonesFan021,@EricMillegan Enjoy your day with Micky mouse
9,0,1564090385,Mon Apr 20 01:43:24 PDT 2009,NO_QUERY,JessBarata,Sickness is getting worse! My throat feels lik...

In [13]:
#delete 3 columns: flags,id,user, as they are not required for analysis
df = df.drop(["id","user","date","flag"], axis = 1)
#in sentiment140 dataset, positive = 4, negative = 0; So we change positive to 1
df.sentiment = df.sentiment.replace(4,1)
df.head(10)

   sentiment                                               text
0          0  I saw conor oberst at the glass house on wedne...
1          0  @Broken_Vibes I thought I got the XS, and now ...
2          0                              going to the dentist
3          1  @Kelly__Rowland http://twitpic.com/3i3pq - I l...
4          1  -- g'night tweeties! &lt;3 talk to you all in ...
5          0                     Don't wanna be up &amp; awake
6          0  I have a migraine and there is still 2 1/2 hou...
7          1  @Dannymcfly DANNY ANSWER MEEE ! BIG BOOBS HERE...
8          1     @EricMillegan Enjoy your day with Micky mouse
9          0  Sickness is getting worse! My throat feels lik...

In [14]:
from nltk import TweetTokenizer
from nltk.stem import PorterStemmer
import re

def preprocess_tweet(tweet):
    '''
    Preprocess the text in a single tweet
    arguments: tweet = a single tweet in form of string 
    '''
    #convert the tweet to lower case just for convenient purpose
    tweet = tweet.lower()
    #convert all urls to empty string
    tweet = re.sub('((www\.[^\s]+)|(https?://[^\s]+))','',tweet)
    #convert all @username to empty string
    tweet = re.sub('@[^\s]+','', tweet)#tweet = re.sub('@[^\s]+','AT_USER', tweet)
    #correct all multiple white spaces to a single white space
    tweet = re.sub('[\s]+', ' ', tweet)
    #convert "#topic" to just "topic"
    tweet = re.sub(r'#([^\s]+)', r'\1', tweet)
    return tweet

def stemSentence(tweet):
    '''
    To stem words to their common roots form eg:crying,cries,cried-->cry
    '''
    # Call the stemmer
    porter = PorterStemmer()
    
    tokenizer = TweetTokenizer()
    token_tweet=tokenizer.tokenize(tweet)
    stem_sentence=[]
    for word in token_tweet:
        stem_sentence.append(porter.stem(word))
        stem_sentence.append(' ')
    return ''.join(stem_sentence)

In [15]:
#Preprocess tweets
df['text'] = df['text'].apply(preprocess_tweet)

In [16]:
#replace field that contains whitespace only is converted to NAN
df.replace(r'^\s*$', np.nan , regex=True, inplace=True)

In [17]:
df.info()
#missing data detected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 2 columns):
sentiment    1600000 non-null int64
text         1597158 non-null object
dtypes: int64(1), object(1)
memory usage: 24.4+ MB

In [18]:
df.dropna(inplace=True)
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1597158 entries, 0 to 1599999
Data columns (total 2 columns):
sentiment    1597158 non-null int64
text         1597158 non-null object
dtypes: int64(1), object(1)
memory usage: 36.6+ MB

   sentiment                                               text
0          0  i saw conor oberst at the glass house on wedne...
1          0   i thought i got the xs, and now i can't find ...
2          0                              going to the dentist
3          1     - i like the picture and hair style follow me
4          1  -- g'night tweeties! &lt;3 talk to you all in ...
5          0                     don't wanna be up &amp; awake
6          0  i have a migraine and there is still 2 1/2 hou...
7          1   danny answer meee ! big boobs here ! aieuaeh ...
8          1                   enjoy your day with micky mouse
9          0  sickness is getting worse! my throat feels lik...

In [20]:
df['text'] = df['text'].apply(stemSentence)

In [21]:
#nak cek jadi x stem?
df.head(10)

   sentiment                                               text
0          0  i saw conor oberst at the glass hous on wednes...
1          0  i thought i got the xs , and now i can't find ...
2          0                                 go to the dentist
3          1      - i like the pictur and hair style follow me
4          1  - - g'night tweeti ! <3 talk to you all in the...
5          0                          don't wanna be up & awak
6          0  i have a migrain and there is still 2 1/2 hour...
7          1  danni answer meee ! big boob here ! aieuaeh ' ...
8          1                    enjoy your day with micki mous
9          0  sick is get wors ! my throat feel like it' clo...

In [28]:
df.to_csv('newtrainingdatach4.csv',encoding='utf-8', index=False)

In [ ]:
####TO DETECT LANGUAGE AND INPUT TO NEW COLUMN
from langdetect import detect_langs
languages = [] 

# Loop over the rows of the dataset and append  
for row in range(len(non_english_reviews)):
    languages.append(detect_langs(non_english_reviews.iloc[row, 1]))

# Clean the list by splitting     
languages = [str(lang).split(':')[0][1:] for lang in languages]

# Assign the list to a new feature 
non_english_reviews['language'] = languages

#####TO STEM THE WORDS THAT CAME FROM LANGUAGE SPANISH ONLY

# Select the Spanish ones
non_english_reviews = non_english_reviews[non_english_reviews.language == 'es']

# Import the required packages
from nltk.stem.snowball import SnowballStemmer
from nltk import word_tokenize
# from nltk.stem import PorterStemmer
# # Call the stemmer
# porter = PorterStemmer()
# Import the Spanish SnowballStemmer
SpanishStemmer = SnowballStemmer("spanish")

# Create a list of tokens
tokens = [word_tokenize(review) for review in non_english_reviews.review] 
# Stem the list of tokens
stemmed_tokens = [[SpanishStemmer.stem(word) for word in token] for token in tokens]

# Print the first item of the stemmed tokenss
stemmed_tokens[0]

# Assign the list to a new feature 
non_english_reviews['language'] = languages

print(non_english_reviews.head())

In [ ]:
=============START LINE NI UTK EXPLORATION OF THE DATASETS===============

from wordcloud import WordCloud, STOPWORDS
  
# Define and update the list of stopwords
my_stop_words = STOPWORDS.update(['airline', 'airplane'])

# Create and generate a word cloud image
my_cloud = WordCloud(background_color="white",stopwords=my_stop_words).generate(text_tweet)

# Display the generated wordcloud image
plt.imshow(my_cloud, interpolation='bilinear') 
plt.axis("off")
# Don't forget to show the final image
plt.show()

In [ ]:
#####TO COUNT NUMBER OF WORDS AND INPUT TO NEW COLUMN
from nltk import word_tokenize
word_tokens = [word_tokenize(item) for item in avengers]
cleaned_tokens = [[word for word in item if word.isalpha()] for item in word_tokens]

len_tokens = []
# Iterate over the word_tokens list
for i in range(len(word_tokens)):
len_tokens.append(len(word_tokens[i]))

df['n_words'] = len_tokens